<style type="text/css">

h1 {text-decoration: underline;}
floatright {float: right; height:100px; width: 125px;}
floatright {float: left; height:100px; width: 125px;}
clear {clear:both;}

p {color: black;}
</style>
